{% extends 'FUBGeneralBundle:Default:dashboard.html.twig' %}
{% block content%}
    <h4 class="sub-header">Information générale sur les opérations</h4>
    <div id="create"></div>
    <div id="encours"></div>
    <h4 class="sub-header">Historique</h4>
    <div id="history">
        <table id="result" class="table table-bordered"></table>
    </div>
    <script>
        window.onload=loadAll();

        function loadAll(){
            loadEncours();
            loadHistory();
        }

        function loadEncours(){
            var url = '{{ path("fub_general_ajax_campagne_encours") }}';

            $.ajax({
                url: url,
                type: "POST",
                data: {  },
                dataType: "json",
                success: function(response) {
                    displayEncours(response);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    alert('Error: ' +  errorThrown);
                }
            });
        }

        function displayEncours(response){
            var donnee = JSON.parse(response);
            document.getElementById('create').innerHTML = "";
            document.getElementById('encours').innerHTML = "";

            var count=0;

            donnee.forEach(function (list) {
                var refid=list.refinv;
                $('#encours').append('<div>Opération encours, référence : <b >'+refid+'</b><br>' +
                        'Dédut de l\'opération : <b>'+list.start_upd_dt+'</b><br><br>' +
                        '<div id="detail">Cliquer pour voir plus de détail sur le montant total à investir <input type="button" id="config" value="Détail" class="btn btn-default" onclick="loadConfiguration('+refid+')"/> <br></div>' +
                        'Cliquer pour terminer l\'operation ' +
                        '<input type="button" id="cloturer" value="Cloturer" class="btn btn-warning" onclick="cloturer('+refid+')"/></div>');

                count++;
            });

            if(count==0){
                $('#create').append('<input type="button" id="new" value="Créer une campagne" class="btn btn-primary" onclick="displayCreateForm()"/>');
            }
        }

        function loadConfiguration(refid){
            document.getElementById('detail').innerHTML = "";
            $('#detail').append('<h4 class="sub-header">Détail</h4>');
            $('#detail').append('<table><tr><td><select id="listinvest" onchange="loadAmount(this.value)"></select></td>' +
            '<td><input type="text" id="amounttxt" class="form-control"/></td>' +
            '<td><input type="button" id="addInvest" value="Ajouter à la liste" class="btn btn-default" onclick="addInvest('+refid+')"/></td></tr>');
            loadAllInvestisor();
            $('#detail').append('<div id="listdefi"></div>');
            loadLastInvestisor();
        }

        function addInvest(refinv){
            var id=document.getElementById("listinvest").value;
            var amount=document.getElementById("amounttxt").value;

            var url = '{{ path("fub_general_ajax_campagne_addinvest",{'refinv':'v1','id':'v2','amount':'v3'})}}';
            url=url.replace('v1',refinv);
            url=url.replace('v2',id);
            url=url.replace('v3',amount);

            $.ajax({
                url: url,
                type: "POST",
                data: {  },
                success: function(response) {
                    alert('Ajout et recalcul des ratios terminés');
                    document.getElementById('tab').innerHTML = "";
                    loadLastInvestisor();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    alert('Error: ' +  errorThrown);
                }
            });
        }

        function loadLastInvestisor(){
            var url = '{{ path("fub_general_ajax_campagne_lastinvest") }}';
            document.getElementById('listdefi').innerHTML = "";

            $('#listdefi').append('<table id="tab" class="table table-bordered"></table>');

            $('#tab').append('<thead><tr><th>Référence</th><th>Investisseur</th><th>Montant à investir</th><th>Ratio</th><th>Bénéfice TTC</th><th>Bénéfice HT</th><th></th></tr></thead>');
            $.ajax({
                url: url,
                type: "POST",
                data: {  },
                dataType: "json",
                success: function(response) {
                    var donnee=JSON.parse(response);
                    $('#tab').append('<tbody>');
                    donnee.forEach(function(res){
                        $('#tab').append('<tr><td>'+res.id+'</td><td>'+res.nom+'</td><td style="text-align: right">'+res.amount+'</td><td style="text-align: right">'+res.ratio+' %</td><td style="text-align: right">'+res.ben_ttc+'</td><td style="text-align: right">'+res.ben_ht+'</td><td><a href="#" id="remove_field">Supprimer</a></td></tr>');
                    });
                    $('#tab').append('</tbody>');
                    loadTotalInvesti('#tab');
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    alert('Error: ' +  errorThrown);
                }
            });
        }

        function loadAllInvestisor(){
            var url = '{{ path("fub_general_ajax_campagne_allinvest") }}';

            $.ajax({
                url: url,
                type: "POST",
                data: {  },
                dataType: "json",
                success: function(response) {
                    var donnee=JSON.parse(response);
                    donnee.forEach(function(res){
                        daySelect = document.getElementById('listinvest');
                        daySelect.options[daySelect.options.length] = new Option(res.nom,res.id);
                        loadAmount($('#listinvest').val());
                    });
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    alert('Error: ' +  errorThrown);
                }
            });
        }

        function loadTotalInvesti(selector){
            var url = '{{ path("fub_general_ajax_campagne_loadTotal") }}';

            $.ajax({
                url: url,
                type: "POST",
                data: {  },
                dataType: "json",
                success: function(response) {
                    var donnee=JSON.parse(response);
                    donnee.forEach(function(res){
                        $(selector).append('<thead><tr><th></th><th style="text-align: right">Total = </th><th style="text-align: right">'+res.amount+'</th><th style="text-align: right">'+res.ratio+'</th><th></th><th></th><th></th></tr></thead>');
                    });
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    alert('Error: ' +  errorThrown);
                }
            });
        }

        function loadAmount(str){
            var url = '{{ path("fub_general_ajax_campagne_loadamount",{'id':'refid'}) }}';
            url=url.replace('refid',str);

            $.ajax({
                url: url,
                type: "POST",
                data: {  },
                dataType: "json",
                success: function(response) {
                    var donnee=JSON.parse(response);
                    donnee.forEach(function(res){
                        $('#amounttxt').val(res.amount);
                    });
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    alert('Error: ' +  errorThrown);
                }
            });
        }

        function hideCreateForm(){
            document.getElementById('create').innerHTML = "";
            loadEncours();
        }

        function displayCreateForm(){
            document.getElementById('create').innerHTML = "";

            var url = '{{ path("fub_general_ajax_campagne_new_ref") }}';

            $.ajax({
                url: url,
                type: "POST",
                data: {  },
                dataType: "json",
                success: function(response) {
                    var donnee=JSON.parse(response);
                    donnee.forEach(function(res){
                        $('#create').append('<div><h4 class="sub-header">Création</h4><table><tr><td style="text-align: right">Référence de la prochaine campagne : </td><td><b> '+res.newref+'</b></td></tr>' +
                                '<tr><td style="text-align: right">Date début de campagne : </td><td><input type="text" id="start_event" value="'+res.upd_dt+'" class="form-control"/></td></tr>' +
                                '<tr><td style="text-align: right;padding: 2px" ><input type="button" id="annuler" value="Annuler" class="btn btn-danger" onclick="hideCreateForm()"/></td>' +
                                '<td style="padding: 2px"><input type="button" id="valider" value="Valider" class="btn btn-primary" onclick="validerCampagne()"/></td></tr></table>' +
                                '</div>');
                    });
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    alert('Error: ' +  errorThrown);
                }
            });
        }

        function loadHistory(){
            var url = '{{ path("fub_general_ajax_campagne_history") }}';
            document.getElementById('result').innerHTML = "";
            $.ajax({
                url: url,
                type: "POST",
                data: {  },
                dataType: "json",
                success: function(response) {
                    var donnee=JSON.parse(response);
                    buildHtmlTable(donnee,'#result');
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    alert('Error: ' +  errorThrown);
                }
            });
        }

        function cloturer(ref){
            var url = '{{ path("fub_general_ajax_campagne_cloturer",{'refinv':'refid'}) }}';
            url=url.replace('refid',ref);

            $.ajax({
                url: url,
                type: "POST",
                data: {  },
                success: function(response) {
                    alert("Campagne cloturée");
                    loadAll();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    alert('Error: ' +  errorThrown);
                }
            });
        }

        function validerCampagne(){
            var url = '{{ path("fub_general_ajax_campagne_valider",{'upd_dt':'refid'}) }}';
            var upd_dt=$('#start_event').val();
            url=url.replace('refid',upd_dt);

            $.ajax({
                url: url,
                type: "POST",
                data: {  },
                success: function(response) {
                    alert("Campagne créée");
                    loadAll();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    alert('Error: ' +  errorThrown);
                }
            });
        }

        function buildHtmlTable(myList,selector) {
            var columns = addAllColumnHeaders(myList, selector);
            var rows=$('<tbody/>');

            for (var i = 0; i < myList.length; i++) {
                var row$ = $('<tr/>');
                for (var colIndex = 0; colIndex < columns.length; colIndex++) {
                    var cellValue = myList[i][columns[colIndex]];
                    if (cellValue == null) cellValue = "";
                    row$.append($('<td/>').html(cellValue));
                }
                $(rows).append(row$);
            }
            $(selector).append(rows);
        }

        function addAllColumnHeaders(myList, selector) {
            var columnSet = [];
            var heads=$('<thead/>');
            var headerTr$ = $('<tr/>');

            for (var i = 0; i < myList.length; i++) {
                var rowHash = myList[i];
                for (var key in rowHash) {
                    if ($.inArray(key, columnSet) == -1) {
                        columnSet.push(key);
                        headerTr$.append($('<th/>').html(key));
                    }
                }
            }
            $(heads).append(headerTr$);
            $(selector).append(heads);

            return columnSet;
        }
    </script>
{% endblock %}